@model Author
@{
    ViewData["Title"] = "Detail";
}

<div class="author-details">
    <div class="author-image">
        <img src="@(Model.Photo?.FilePath ?? "/images/AuthorDefault.jpeg")" alt="Author Name">
    </div>
    <div class="author-info">
        <h2 class="author-name">@Model.Name</h2>
        <p class="author-about">
            @Model.About
        </p>
    </div>
</div>
<div class="author-books">
    <h4 >By This Author</h4>
    <partial name="_BookCardListPartial" model="Model.WrittenBooks"/>
</div>




