@model GenreDto
@{
    ViewData["Title"] = "Create";
}


<section class="create-author-container">
    <h2>Add New Genre</h2>
    <form asp-action="Create" method="POST" enctype="multipart/form-data" class="create-author-form">
        <div class="form-group">
            <label asp-for="Name">Genre Name</label>
            <input type="text" id="authorName" name="Name" required>
        </div>

        <div class="form-group">
            <label asp-for="Description">About the Genre</label>
            <textarea id="authorAbout" name="Description" rows="5"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="PhotoFile">Upload Genre Photo</label>
            <input asp-for="PhotoFile" accept="image/*">
        </div>

        <div class="form-group">
            <button type="submit" class="btn">Add Genre</button>
        </div>
    </form>
</section>