@model Genre
@{
    ViewData["Title"] = "Details";
}

<div class="author-details">
    <div class="author-image">
        <img src="@(Model.Photo.FilePath)" alt="Genre Name">
    </div>
    <div class="author-info">
        <h2 class="author-name">@Model.Name</h2>
        <p class="author-about">
            @Model.Description
        </p>
    </div>
</div>
<div class="author-books">
    <h4>Books With this Genre</h4>
    <partial name="_BookCardListPartial" model="Model.AssociatedBooks" />
</div>