@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Discover Your Next Favorite Book</h1>
            <p>Explore a world of literature.</p>
            <a href="#" class="btn">Explore Books</a>
        </div>
    </section>
</div>
